.header{
    border-radius: 5px;
    background: #3399cc;
    height: 50px;
    position: relative;
    margin: 0 80px;
}
.header_logo{
    position: absolute;
    text-align: center;
    background: #2e80ae;
    border-radius: 3px;
    height: 70%;
    top: 15%;
    left: 20px;
    width: 200px;
}
.header_logo_text{
   display: inline;
   position: relative;
   top: 5px;
}
.content{
    width: 1000px;
    height: 700px;
    margin: 20px auto;

}
.puzzle{
    border: 6px solid #c3c3c3;
    width: 640px;
    overflow: hidden;
    float: left;
    padding: 6px;
    border-radius: 12px;
}
.content_card{
    position: relative;
    float: left;
    overflow: hidden;
    border-radius: 8px;
}


.block {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1.5s;
}
.rotated{
    -webkit-transform: rotateY(180deg);
}
.side{
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border: 2px solid #f96;
    border-radius: 8px;
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.front{
}
.back{
    background-color: #f3f3f3;
    -webkit-transform: rotateY(180deg);
}
.back_img{
    width: 100%;
    height: 100%;
}
.content_hidden_card{
    border: 1px solid white;
}
.menu{
    width: 250px;
    height: 250px;
    float: right;
}
.menu_btn_start {
    transition-duration: 0.4s;
    margin-top: 15px;
    font-size: 24px;
    padding: 6px 18px;
}

.menu_btn_start:hover {
    background-color: #ae4749;
    color: white;
}
.statistics{
    float: right;
}
.userList{
    width: 250px;
    height: 400px;
    overflow-x: auto;
}
.userList_table{
    width: 250px;
    border-collapse: collapse;
}

.userList_table caption{
    font-size: 25px;
}
.userList_table th, caption{
    text-align: left;
}
.userList_table td, th{
    border-collapse: collapse;
    border-bottom: 1px solid black;
}
.formTimer_pauseBtn{
    font-size: 18px;
    margin-top: 10px
}
.formTimer_time{
    margin-top: 10px;
    background: white;
    border: hidden;
    font-size: 25px
}